<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      {% block title %}Theoretical Chromatograph BioLCCC{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="/media/style_div.css">
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10219290-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </head>
  <body>
    <div id="main">
        <div id="headerTable">
            <div id="headerRow">
                <div id="header">
                  {% block header %}
                    <strong>TheorChromo online version 1.0 gamma</strong>
                  {% endblock %}
                </div>
            </div>
            <div id="headerRow">
                <div id="subHeader">
                    {% block subheader %}
                    <div class="headerLink">
                        <a href="/">Home</a>
                    </div>
                    <div class="headerLink">
                        <a href="/help/">Help</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://groups.google.com/group/biolccc">
                        BioLCCC mailing group</a>
                    </div>
                    <div class="headerLink">
                        <a href="/lib/">
                        libBioLCCC</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://pypi.python.org/pypi/pyBioLCCC/">
                        pyBioLCCC</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://hg.theorchromo.ru/">
                        source code repository</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://proteomics.fizteh.ru/eng">
                        Our laboratory</a>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div id="headerRow">
                <div id="subsubHeader">
                </div>
            </div>
        </div>
    
        {% block content %}
        {% endblock %}

        <div id="footer">
            Based on BioLCCC (Liquid Chromatography of Biomacromolecules at 
            Critical Conditions) model.<br/>
            Created by Laboratory of Physical and Chemical Methods for Structure
            Analysis,<br/>
            Institute of Energy Problems for Chemical Physics, 2004-2010.<br/>
            Powered by Django.
        </div>
    </div>
  </body>
</html>
