<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />

    <meta name="ROBOTS" content="ALL" />
    <meta name="DESCRIPTION" content="TheorChromo is a BioLCCC-based online tool
    for prediction of retention time of peptides and proteins in liquid
    chromatography" />
    <meta name="KEYWORDS" content="BioLCCC, retention, prediction, peptide,
    chromatography">

    <title>
      {% block title %} BioLCCC | Prediction of peptide/protein retention time
      in liquid chromatography{% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="/media/style_div.css">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6TLFPZBVDR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6TLFPZBVDR');
    </script>
  </head>

  <body>
    <div id="main">
        <div id="headerTable">
            <div id="headerRow">
                <div id="header">
                  {% block header %}
                    <strong>TheorChromo online version 1.1</strong>
                  {% endblock %}
                </div>
            </div>
            <div id="headerRow">
                <div id="subHeader">
                    {% block subheader %}
                    <div class="headerLink">
                        <a href="/">Home</a>
                    </div>
                    <div class="headerLink">
                        <a href="/help/">Help</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://groups.google.com/group/biolccc">
                        BioLCCC mailing group</a>
                    </div>
                    <div class="headerLink">
                        <a href="http://theorchromo.ru/docs/API/namespaceBioLCCC.html">
                        libBioLCCC</a>
                    </div>
                    <div class="headerLink">
                        <a href="https://pyteomics.readthedocs.io/">
                        Pyteomics</a>
                    </div>
                    <div class="headerLink">
                        <a href="/docs">
                        pyteomics.biolccc docs</a>
                    </div>
                    <div class="headerLink">
                        <a href="https://github.com/levitsky/biolccc">
                        Source code repository</a>
                    </div>
                    <div class="headerLink">
                        <a href="https://gorshkovlab.github.io/about/">
                        Our laboratory</a>
                    </div>
                    {% endblock %}
                </div>
            </div>
            <div id="headerRow">
                <div id="subsubHeader">
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div id="footer">
            Based on BioLCCC (Liquid Chromatography of Biomacromolecules at
            Critical Conditions) model.<br/>
            Created by Laboratory of Physical and Chemical Methods for Structure
            Analysis,<br/>
            Institute for Energy Problems of Chemical Physics, 2004-2022.<br/>
            Powered by Django.
        </div>
    </div>
  </body>
</html>
