{% extends 'base.html' %}

{% block content %}
<div id="helpText">
    <p>
    BioLCCC (Liquid Chromatography of Biomolecules at Critical Conditions) model
    considers peptides as macromolecules and describes their separation in basic
    thermodynamics terms [1]. BioLCCC model is suitable for retention time 
    prediction of any peptides separated in gradient RP-HPLC. One of the 
    consequences of the model is that it establishes quantitative and 
    qualitative 
    relationships between experimentally observed retention times and peptide 
    sequences. The BioLCCC model is based on the statistical thermodynamics of
    macromolecules that considers the macromolecular chain adsorption on the 
    adsorbent surface as a second order phase transition in a narrow range of 
    experimental parameters such as column temperature and/or binary solvent 
    composition (the so-called critical parameters). Under critical conditions, 
    the interaction of the chain monomers (amino acid residues) with the surface
    reveals not only the individual monomer properties (chemical properties  of 
    individual amino acids), but also the general property of the whole chain 
    (peptide sequence) [2]. The BioLCCC model contains very limited number of 
    phenomenological parameters, particularly, experimentally determined 20 
    interaction energies for most common amino acids, 4 energies for different 
    end group types, and 2 energies characterizing the interaction of solvent 
    molecules (water and acetonitrile) with the surface. Given this small number
    of phenomenological parameters, the BioLCCC model can be easily adopted for 
    any type of chromatography not limited by phase or solvent types, and its 
    extension to cover peptides with post-translational modification is 
    straightforward. The developed model has been tested on a standard peptide 
    mixture and further confirmed using various experimental data sets. Rather 
    high linear correlation between experimental and predicted retention times 
    for peptides in the range of R2 from 0.9 to 0.98 depending on the sample 
    complexity has been reported elsewhere, and the capabilities to recognize 
    small differences in peptide structures have been demonstrated [1, 3]. Note,
    however, that BioLCCC model has rather simplified assumptions. The model 
    currently neglects the interactions between the charged residues (such as 
    lysine, histidine, and arginine at pH = 2) under particular solvent 
    conditions, as well as secondary structure effects by assuming that peptide 
    can be modeled by Gaussian "free-walk" chain. As an advantage, BioLCCC model
    does not require large data sets for training or determination of 
    phenomenological parameters and calculates retention times for peptides 
    with known sequences for any RP HPLC system, column, gradient profile, or 
    mobile phase composition. This model accounts for exclusion effects: when 
    the gradient slope changes, it correctly predicts reversal in elution order 
    for peptides with close retention times but differing in sequence length.
    </p>
    <p>				
    This web project is still under development therefore some additional 
    functions of our Theoretical Chromatograph are not available for the time
    present.
    </p>
    <p>
    REFERENCES <br/><br/>

    1. Gorshkov A.V., Tarasova I.A., Evreinov V.V., Savitski M.M., 
    Nielsen M.L., Zubarev R.A., Gorshkov M.V., Anal. Chem., 2006, 78,
    7770-7778.<br/>
    2. Gorshkov A.V., Evreinov V.V., Tarasova I.A., Gorshkov M.V., Polymer 
    Science B, 2007, 49, Nos. 3-4, 93-107.<br/>
    3. I. A. Tarasova, A. V. Gorshkov, V. V. Evreinov, K. Adams, R. A. Zubarev, 
    and M. V. Gorshkov, Polymer Science, Series A, 2008, Vol. 50, No. 3, 
    p. 309. <br/> 
    </p>
</div>
{% endblock %}
