{% extends 'base.html' %}

{% block content %}
<div id="helpText">
    <div class="question">
        1. What does TheorChromo do?
    </div>

    <div class="answer">
        <p>
        TheorChromo is the online tool for peptide and
        protein retention time prediction in liquid chromatography. It is the
        implementation of the BioLCCC model, tuned for the most popular case of
        linear gradient chromatography.
        </p>
    </div> 

    <div class="question">
        2. How should I use it?
    </div>

    <div class="answer">
        <p>
        Just follow the instructions on the main page.
        <a name="lcparameters">Firstly, enter the parameters of your LC
        system in the corresponding lines.</a><br/> 
        <b>WARNING: All parameters are saved between sessions.</b>
        </p>

        <div id="helpParametersTable">
        <div class="parameter">
            <div class="name">
                Column length, mm
            </div>
            <div class="description">
                The working length of your column, i.e. the length of the column
                area filled with an adsorbent. Usually this number is supplied
                by the manufacturer. 
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Column internal diameter, mm 
            </div>
            <div class="description">
                The diameter of the internal volume of the column filled with an
                adsorbent. This number is also supplied by the manufacturer.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Packing material pore size, A 
            </div>
            <div class="description">
                The average linear size of a pore within a
                particle of a packing material. Usually it is supplied by the
                manufacturer of the column or the packing material (if you use
                in-house packed columns).
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Initial concentration of component B, % 
            </div>
            <div class="description">
                The concentration of component B in the beginning of the 
                linear gradient.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Final concentration of component B, % 
            </div>
            <div class="description">
                The concentration of component B at the end of the linear 
                gradient.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Gradient time, min 
            </div>
            <div class="description">
                The duration of the linear part of the gradient.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Delay time, min 
            </div>
            <div class="description">
                The duration of the flushing step preceding the linear part of 
                the gradient. This number is simply added to the calculated 
                retention time of a peptide.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Flow rate, ml/min 
            </div>
            <div class="description">
                The average flow rate at the linear part of the gradient.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                ACN concentration in component A, % 
            </div>
            <div class="description">
                The concentration of ACN in the component with a lesser eluting 
                ability.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                ACN concentration in component B, % 
            </div>
            <div class="description">
                The concentration of ACN in the component with the greater 
                eluting ability.
            </div>
        </div>

        <div class="parameter">
            <div class="name">
                Solid/mobile phase combination 
            </div>
            <div class="description">
                The type of retention chemistry being used in the experiment. 
                Currently, the two types are supplied: <br/>
                    <b>RP/ACN+FA</b> - the standard reversed C18 solid phase,
                    ACN as an eluent and formic acid an ion paring agent;<br/>
                    <b>RP/ACN+TFA</b> - the standard reversed C18 solid phase, 
                    ACN as an eluent and trifluoroacetic acid an ion paring 
                    agent.
            </div>
        </div>
        </div>
        <br/>

        <a href="/media/column.png">
            <img src="/media/column.png" alt="Column geometry"/>
        </a>
        <br/><br/>
        <a href="/media/gradient.png">
            <img src="/media/gradient.png" alt="Linear gradient"/>
        </a>

        <p>
        On the next step you need to enter peptide sequences. 
        <a name="sequences">
        The sequences should be written using the standard one-letter codes 
        for the twenty proteinogenic L-amino acids and the extended notation 
        for modified amino acids.</a><br/>
        </p>

        <p>
        <b>WARNING: Only capital letters are allowed for the standard amino
        acids.</b><br/>
        <b>WARNING: Cysteine is assumed to be pure! If the peptides were treated
        with iodoacetamide, check the box "Cysteines are
        carboxyamidomethylated" or use the corresponding notation.</b><br/>
        </p>

        <div class="aminoacidCode">
            <div class="code">
                A,C,D,E,F,G,H,I,K,L,M,N,P,Q,R,S,T,V,W 
            </div>
            <div class="description">
                standard proteinogenic amino acids
            </div>
        </div>

        <div class="aminoacidCode">
            <div class="code">
                Ac-
            </div>
            <div class="description">
                N-Terminal acetylation
            </div>
        </div>

        <div class="aminoacidCode">
            <div class="code">
                -NH2
            </div>
            <div class="description">
                C-Terminal amidation 
            </div>
        </div>

        <div class="aminoacidCode">
            <div class="code">
                camC 
            </div>
            <div class="description">
                carboxyamidomethylated cysteine
            </div>
        </div>

        <div class="aminoacidCode">
            <div class="code">
                pS 
            </div>
            <div class="description">
                phosphorylated serine
            </div>
        </div>
        <div class="aminoacidCode">
            <div class="code">
                pT
            </div>
            <div class="description">
                phosphorylated threonine
            </div>
        </div>
        <div class="aminoacidCode">
            <div class="code">
                pY
            </div>
            <div class="description">
                phosphorylated tyrosine
            </div>
        </div>
    </div>

    <div class="question">
        3. What is the scientific background behind TheorChromo?
    </div>

    <div class="answer">
        <p>
        TheorChromo is based on the BioLCCC (Liquid Chromatography of
        Biomolecules at Critical Conditions) model. Contrary to the other models
        of peptide chromatography, BioLCCC uses only very basic assumptions
        regarding flexibility of a polypeptide chain, the shape of a pore, type
        of interactions neglected, etc. Given this assumptions, the coefficient
        of distribution (Kd) of a peptide between solid phase and mobile phase
        of a given composition is derived using the methods of statistical
        physics of macromolecules. Finally, the retention time of a peptide is
        derived from Kd using the basis equation of gradient
        chromatography.
        </p>

        <p>
        Due to the physical basis of the BioLCCC model, it contains very few
        free parameters. The retention properties of an amino acid are
        characterized by a single number, which is essentially the energy of an
        interaction between amino acid and the surface of solid phase in pure
        water+ion paring agent. Given this small number of
        phenomenological parameters, the BioLCCC model can easily be adopted for
        any type of chromatography not limited by phase or solvent types.
        Moreover, its extension to peptides with post-translational 
        modifications is straightforward as it was shown for the phosphorylated
        amino acids.
        </p>
        
        <p>
        Further reading:<br/>
        <a href="http://dx.doi.org/10.1021/ac060913x">
        1. <b>Liquid Chromatography at Critical Conditions:  Comprehensive
        Approach to Sequence-Dependent Retention Time Prediction</b>,
Alexander V. Gorshkov, Irina A. Tarasova, Victor V. Evreinov, Mikhail M. Savitski, Michael L. Nielsen, Roman A. Zubarev, and Mikhail V. Gorshkov,
<i>Analytical Chemistry</i>, <b>2006</b>, 78 (22), 7770-7777.
        </a><br/>
        <a href="http://dx.doi.org/10.1134/S1560090407030098">
        2. <b>Applicability of the critical chromatography concept to proteomics
        problems: Dependence of retention time on the sequence of amino
        acids</b>, Alexander V. Gorshkov A., Victor V. Evreinov V., Irina A.
        Tarasova, Mikhail V. Gorshkov, <i>Polymer Science B</i>, <b>2007</b>,
        49 (3-4), 93-107.
        </a><br/>
        <a href="http://www.springerlink.com/content/gnh84v62w960747n/">
        3. <b>Applicability of the critical chromatography concept to proteomics
        problems: Experimental study of the dependence of peptide retention time
        on the sequence of amino acids in the chain</b>,
        Irina A. Tarasova, Alexander V. Gorshkov, Victor V. Evreinov, 
        Chris Adams, Roman A. Zubarev, and Mikhail V. Gorshkov, 
        <i>Polymer Science A</i>, <b>2008</b>, 50 (3), 309. <br/> 
        </a>
        </p>
    </div>

    <div class="question">
        4. May I somehow use BioLCCC on my own computer?
    </div>

    <div class="answer">
        <p>
        Yes, the source code of the BioLCCC is open and can be used in any free
        project. Please, check libBioLCCC and, in case you are using Python in
        your work, <a href="http://pypi.python.org/pypi/pyBioLCCC">pyBioLCCC</a>
        projects.
        </p>
    </div>

    <div class="question">
        5. I have another question regarding BioLCCC, where can I ask it?
    </div>

    <div class="answer">
        <p>
        You are welcome to the BioLCCC discussion group:
        <a href="http://groups.google.com/group/biolccc">http://groups.google.com/group/biolccc</a>
        </p>
    </div>

</div>
{% endblock %}
