{% extends 'base.html' %}

{% block content %}
    {% if chromoConditionsForm.errors %}
        <div id="errorsBlock">
            <ul class="errorlist">
                {% for field in chromoConditionsForm %}
                    {% for error in field.errors %}
                       <li> {{ error }} </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <FORM action="" method="post">{% csrf_token %}
        <div id="chromoConditionsBlock">
            <h6><a href="help#lcparameters" class="help">1. Describe your LC system.</a></h6>
            <table id="chromoConditionsTable">							
                {{ chromoConditionsForm.as_table }}
            </table>
        </div>		
        <div id="peptideSequencesBlock">
            <h6><a href="help#sequences" class="help">2. Enter peptides, each
            one on a new line.</a></h6>
            <table id="peptideSequencesTable">
                    <tr>
                        <td colspan="2">
                            {{ peptideSequencesForm.peptides }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ peptideSequencesForm.is_alkylated.label }}
                        </td>
                        <td>
                            {{ peptideSequencesForm.is_alkylated }}
                        </td>
                    </tr>
                <tr>
                    <td class="buttonCell" colspan="2">
                        <INPUT TYPE=SUBMIT value="Submit" class="button">
                    </td>
                </tr>
            </table>
        </div>
    </FORM>
{% endblock %}
