{% extends 'base.html' %}

{% block content_request %}
{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    <ul>
{% endif %}

<FORM action="/calculate/" method="post">
<div id="parameters">
<h6>1. Describe your LC system.</h6>
<table id="parametersTable">							
    <tr>
        <td width="85%">Column length, mm</td>
        <td><input type="text" name="length" value="{{ length }}" ></td>
    </tr>

    <tr>
        <td>Column internal diameter, mm</td>
        <td><input type="text" name="diameter" value="{{ diameter }}" ></td>
    </tr>
            
    <tr>
        <td>Packing material pore size, A</td>
        <td><input type="text" name="pore_size" value="{{ pore_size }}" ></td>
    </tr>						
        
    <tr>
        <td>Initial concentration of B component, %</td>
        <td><input type="text" name="bmin" value="{{ bmin }}" ></td>
    </tr>
            
    <tr>
        <td>Final concentration of B component, %</td>
        <td><input type="text" name="bmax" value="{{ bmax }}" ></td>
    </tr>

    <tr>
        <td>Gradient time, min</td>
        <td><input type="text" name="time" value="{{ time }}" ></td>
    </tr>

    <tr>
        <td>Delay time for LC system, min</td>
        <td><input type="text" name="delay_time" value="{{ delay_time }}" ></td>
    </tr>
            
    <tr>
        <td>Flow rate, ml/min</td>
        <td><input type="text" name="flow_rate" value="{{ flow_rate }}" ></td>
    </tr>
    
    <tr>
        <td>ACN concentration in A component, %</td>
        <td><input type="text" name="acna" value="{{ acna }}" ></td>
    </tr>
    
    <tr>
        <td>ACN concentration in B component, %</td>
        <td><input type="text" name="acnb" value="{{ acnb }}" ></td>
    </tr>
</table>
</div>		
<div id="peptides">
<h6>2. Define your peptide set, each peptide on a new line.</h6>
<table id="peptidesTable">
    <tr>
        <td colspan="3">
        <!-- Don't format the code in the textarea.-->
            <textarea rows="11" name="peptides">
{% for peptide in peptides %}
{{ peptide }}
{% endfor %}</textarea>
        </td>
    </tr>
    <tr>
        <td width="20%" class="buttonCell">
            <INPUT TYPE=BUTTON value="Help" class="button" onclick="window.open('help');">
        </td>
        <td width="44%" class="buttonCell">
            <INPUT TYPE=RESET VALUE="Set default values" class="button">
        </td>
        <td width="36%" class="buttonCell">
            <INPUT TYPE=SUBMIT value="Submit" class="button">
        </td>
    </tr>
</table>
</div>
</FORM>
{% endblock %}
