html {
margin: 0;
padding: 0;
}

body {
font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
font-size: 12px;
color: #222222;
\\background-color: #F7F7F7;
margin: 0px;
padding: 0px;
width: 1000px;
}

a.help{
cursor: help;
}

h6{
font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
font-size: 18px;
margin: 0 0px 12px 0px;
padding: 0 0 0 0;
}

#headerTable{
display: table;
width: 100%;
padding: 0px;
}

#headerTableRow{
display: table-row;
}

#header{
clear: both;
width: 960px;
background-color: #D98A54;
padding: 20px 0px 5px 40px;
margin: 0 auto;
border: 0px solid white;
color: white;
font-size: 3em;
}

.headerLink{
display: inline;
margin: 0px 10px 0px 10px;
}

#subHeader{
clear: both;
padding: 3px 0px 2px 40px;
background-color: #F0B186;
border: 0px solid white;
}

#footer{
display: block;
clear: both;
width: 960px;
padding: 0em 0 0 40px;
vertical-align: top;
text-align: justify; 
background-color: #D98A54  ;
font-size: 1em;
color: white;
}

#errorsBlock{
display: block;
padding: 8px 0 10px 30px;
margin: 20px 0 0 64px;
border: 2px solid red;
width: 40%;
}

ul.errorlist{
margin: 0px 0 0 0px;
padding: 0px 0 0 0px;
}

#chromoConditionsBlock{
display: block;
float: left;
width: 440px;
margin: 0 0 0 0;
padding: 20px 0 0 40px;
\\background-color: #f0f0f0;
}

#peptideSequencesBlock{	
float: right;
border: 0px solid white;
width: 480px;
padding: 20px 0 20px 40px;
}

#chromoConditionsTable{
width: 100%;
height: 100%;
border: 2px solid #F0B186;
border-spacing: 2px solid white;
border-collapse: separate;
margin: 0 0 20px 25px ;
table-layout: auto;
}

    table#chromoConditionsTable td{
    text-align: right;
    padding: 0em;
    background-color: #FFF6D8;
    }

    table#chromoConditionsTable tr.error{
    color: red;
    }

    /* Don't display errorlist in the form */
    table#chromoConditionsTable ul{
    display: none;
    }

    table#chromoConditionsTable input{
    width: 9em;	
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal
    }

    table#chromoConditionsTable select{
    width: 9em;	
    margin: 0;
    text-align: right;
    }


#peptideSequencesTable{
border: 0px solid black;
padding: 0 px;
height: 100%;
width: 90%;
margin: 0 0 0 25px;
}

    table#peptideSequencesTable td{
    text-align: right;
    padding: 0em;
    background-color: #FFF6D8;
    }

    table#peptideSequencesTable textarea{
    width: 98%;
    border: 2px solid #F0B186;
    margin: 0 0 0 0;
    }

    table#peptideSequencesTable .button{
    text-align: center;
    font-family: Verdana, Helvetica, Tahoma, Arial, sans-serif;	 
    width: 100%;
    height: 130%;
    }

table#outputTable {
border: 2px solid #F0B186;
margin: 25px 25px 25px 40px ;
}

    table#outputTable td, th{
    border: 2px solid white;
    padding: 0px 5px 0px 15px;
    text-align: right;
    }

    table#outputTable tr.odd td,th{
    background-color: #FFF6D8;
    }

table#outputParametersTable {
border: 2px solid #F0B186;
margin: 0 0 25px 40px ;
}

    table#outputParametersTable td, th{
    border: 2px solid white;
    padding: 0px 5px 0px 15px;
    text-align: right;
    }

    table#outputParametersTable tr.odd td,th{
    background-color: #FFF6D8;
    }

#helpText{
text-align: justify;
font-size: 14px;
width: 960px;
padding: 20px 20px 20px 40px;
}

#helpText p{
float: left;
}

#helpText .question{
font-size: 16px;
font-weight: bold;
\\color: #D98A54;
\\color: #FF6D0C;
color: #CC863E;
margin: 0em 0 0em 0;
}

#helpText .answer{
margin: 0em 0em 1em 2em;
}

#helpText #helpParametersTable{
display: table;
float: left;
width: 60%;
}

#helpText .parameter{
display: table-row;
}

#helpText .parameter .name{
display: table-cell;
width: 31%;
text-align: right;
font-weight: bold;
}

#helpText .parameter .description{
display: table-cell;
padding: 0em 0em 0.5em 1em;
}

#helpText img{
width: 35%;
margin: 3em 0em 2em 1em;
}

#helpText .aminoacidCode{
display: table-row;
}

#helpText .aminoacidCode .code{
text-align: right;
display: table-cell;
font-weight: bold;
}

#helpText .aminoacidCode .description{
display: table-cell;
padding: 0em 0em 0em 1em;
}
